ObjectId : {{ObjectId}}
<div class="card" style="width: 18rem;" *ngIf="stat$ | async; let stat">
    <div class="card-body">
      <h5 class="card-title">Nom : {{stat.nom}}</h5>
    <h6 class="card-subtitle mb-2 text-muted"><u> Telephone</u> : {{stat.telephone}}</h6>
    <p class="card-text">Email : {{stat.email}}</p>
     <p class="card-text">Adresse : {{stat.adresse}}.</p>
      <p class="card-text"><small class="text-muted">Créee le {{stat.created_at | date:'dd/MM/yyyy HH:mm:sss'}}</small></p>
         <button class="btn btn-primary btn-sm mx-1"
        [disabled]="!loggedOut$ | async"
        (click)="edit()">Modifier</button>

<button class="btn btn-danger btn-sm mx-1"
        (click)="delete(stat.id)">Supprimer</button>
    </div>
  </div>
