<div class="card" style="width: 18rem;" *ngIf="entite$ | async; let entite">
    <div class="card-body">
      <label>Sigle :</label>
      <h5 class="card-title">{{entite.sigle | uppercase}}</h5>
      <label>Nom :</label>
    <h6 class="mb-2">{{entite.nom | titlecase}}</h6>
      <p class="card-text"><small class="text-muted">Créee le {{entite.created_at | date:'dd/MM/yyyy'}}</small></p>
         <button class="btn btn-primary btn-sm mx-1"
        [disabled]="!loggedOut$ | async"
        (click)="edit()">Modifier</button>

<button class="btn btn-danger btn-sm mx-1"
        (click)="open('focusFirst')">Supprimer</button>

    </div>
  </div>
