/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

scroll-container {
  display: block;
  width: 350px;
  height: 200px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color:red;
  border:2px solid blue;
}
